
.watch-container{
    display: flex;
    flex-direction: row;
}

/*Suggested for you*/

.suggested-list{
    flex-direction: column;
    margin-top: 20px;
    border: none;
    flex: 1;
    height: 700px;
    width: 319px;
    padding-left: 64px;
}
.user-account{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}
.suggestion{
    margin-top: 5px;
    margin-bottom: 25px;
}
.profile-pic{
    vertical-align: middle;
    width: 44px;
    height: 83px;
    
}
.profile-image:hover{
    cursor: pointer;
}
.profile-image{
    vertical-align: middle;
    object-fit: cover;
    margin-top: 12px;
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 22px;
}
.profile-info{
    flex: 1;
    vertical-align: middle;
}
.profile-info p{
    margin-bottom: -13px;
    margin-left: 13px;
    
}
.username{
    color: black;
    font-weight: bold;
}
.username:hover{
    cursor: pointer;
}
.name{
    color: #737373;
    font-size: 13.5px;
    font-family: calibri;
}
.option{
    vertical-align: middle;
    margin-top: 24px;
    font-size: 13px;
    color: #0095F6;
    font-weight: 600;
    
}
.option:hover{
    cursor: pointer;
    color: #0e6199;
}
h4{
    display: inline;
    margin-left: 15px;
    color: #737373;
    
}
h5{
    display: inline;
    margin-left: 165px
    
    
}
h5:hover{
    cursor: pointer;
    opacity: 0.7;
}
.header{
    margin-top: 10px;
    width: 300px;
}
.header p{
    font-size: 13px;
    line-height: 25px;
    color: #838181b6;
}
.header p span:hover{
cursor: pointer;
text-decoration: underline;
}